<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>About Me</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/homepage">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>
    <h1>About</h1>
    <section class="p-container">
      <p>
        Aristotle was an Ancient Greek philosopher and polymath. His writings cover a broad range of subjects spanning the natural sciences, philosophy, linguistics, economics,
        politics, psychology and the arts. As the founder of the Peripatetic school of philosophy in the Lyceum in Athens, he began the wider Aristotelian tradition that followed,
        which set the groundwork for the development of modern science.
      </p>
      <p>
        Little is known about Aristotle's life. He was born in the city of Stagira in northern Greece during the Classical period. His father, Nicomachus, died when Aristotle was a
        child, and he was brought up by a guardian. At seventeen or eighteen years of age he joined Plato's Academy in Athens and remained there until the age of thirty-seven
        (c. 347 BC). Shortly after Plato died, Aristotle left Athens and, at the request of Philip II of Macedon, tutored his son Alexander the Great beginning in 343 BC. He
        established a library in the Lyceum which helped him to produce many of his hundreds of books on papyrus scrolls.
      </p>
      <p>
        He made significant and lasting contributions to nearly every aspect of human knowledge, from logic to biology to ethics and aesthetics. Though overshadowed in classical
        times by the work of his teacher Plato, from late antiquity through the Enlightenment, Aristotle’s surviving writings were incredibly influential. In Arabic philosophy, he
        was known simply as “The First Teacher.” In the West, he was “The Philosopher.”
      </p>
      <p>
        When Plato died in 347, control of the Academy passed to his nephew Speusippus. Aristotle left Athens soon after, though it is not clear whether frustrations at the Academy
        or political difficulties due to his family’s Macedonian connections hastened his exit. He spent five years on the coast of Asia Minor as a guest of former students at
        Assos and Lesbos. It was here that he undertook his pioneering research into marine biology and married his wife Pythias, with whom he had his only daughter, also named
        Pythias. In 342 Aristotle was summoned to Macedonia by King Philip II to tutor his son, the future Alexander the Great—a meeting of great historical figures that, in the
        words of one modern commentator, “made remarkably little impact on either of them.”
      </p>
    </section>
  </body>
</html>
